<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link to Bootstrap -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<!-- Link to Custom Style Sheet -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	<title>Article Saver</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle grouped for better mobile display -->
			<div class="navbar-header">
				<!-- toggle menu for mobile screens -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Article Saver</a>
			</div> <!-- end of navbar-header -->
			{{#if user}}
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-menu">
				<!-- Right-floating navbar  -->
				<ul class="nav navbar-nav navbar-right">
					<form class="navbar-form navbar-left">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default search-btn"><i class="glyphicon glyphicon-search"></i></button>
								</div> <!-- end of button div-->
							</div> <!-- end of input group -->						
						</div> <!-- end of form group -->
					</form> <!-- end of search input form -->
					<li><a href="#">Saved Articles</a></li>
					<li><a href="/logout">Log Out</a></li>
				</ul> <!-- end of navbar-right -->
			</div><!-- end of navbar-collapse -->
			{{/if}}
		</div><!-- end of container -->
	</nav> <!-- end of nav -->
	<div class="container">
	{{#if error}}
      <p class="alert alert-warning text-center">{{error}}</p>
    {{/if}}

    {{#if success}}
      <p class="alert alert-success text-center">{{success}}</p>
    {{/if}}

    {{#if notice}}
      <p class="alert alert-info text-center">{{notice}}</p>
    {{/if}}

	{{{ body }}}
	</div>

	<!-- Link to the jQuery Library -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <!-- Latest compiled and minified JavaScript for Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Link to custom javascript file -->
	<script src="/assets/js/{{script}}"></script>
</body>
</html>